/*UC 1*/
body{
    margin:0;
    height: 100%;
}

.header{
    padding: 15px 0;
    background-color: white;
}

.header-content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border:0px solid green;
}

.logo-content
{
    display: flex;
    flex-direction: row;
    width:80%;
    align-items: center;
    border:0px solid green; 
}

.logo-content-img{
    border : solid 10px #0d0e0f;
    height : 10%;
}

.addbook-text{
    font: normal normal bold 15px/25px Montserrat;
    font-family: "Montserrat",sans-serif;
    letter-spacing: 0px;
    color: blue;
    text-transform: capitalize;
    flex-direction: row;
}
.address-book{
    color: #42515f;
    padding: 0px;
    margin : 0px;
    flex-direction: row;
}

*{box-sizing: border-box;}

/* UC 2*/
.form-content {
    padding-top: 40px;
    min-height:calc(100% -80px);
    background-color:#f7f7f7;
    display:flex;
    justify-content: center;
    align-items: center;
    border: 0px solid green;
    } 

    .form {
        width: 70%;
        background:white 0% 0% no-repeat padding-box;
        box-shadow: 0px 3px 6px #00000029;
        border-radius: 8px;
        opacity: 1;
    }

    .form-head {
        font: normal normal bold 24px/37px Roboto;
        letter-spacing: 0px;
        color: white;
        background-color: blue;
        text-align: center;
        text-transform: capitalize;
        opacity: 1;
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .row-content {
        padding-left: 100px;
        padding-right: 100px;
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
        align-items: left;
        border: 0px solid green;
        padding-top: 40px;
    }

    .label {
        min-width: 140px;
    }

    label {
        padding: 12px 12px 12px 0;
        display: inline-block;
        border: 1px #0d0e0f;
    }

    .text {
        font-size: 16px;
        color: #42515f;
        opacity: 1;
        font-family: Roboto;
    }
    .head{
       
        flex: display;
        flex : row;
    }

    .cross{
        align-items: right;
        margin-right: 50px;;     
    }
    
.input {
    width: 100%;
    padding:20px;
    border:1px solid black;
    border-radius: 4px;
    resize:vertical;
}

.phone-content {
    padding-left: 100px;
    padding-right: 100px;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    align-items: left;
    border: 0px solid green;
    padding-top: 00px;
}

.phone {
    width: 100%;
    padding:20px;
    border:1px solid black;
    border-radius: 4px;
    resize:vertical;
}

.address {
    width: 100%;
    line-height: 700%;
    padding:20px;
    border:1px solid black;
    border-radius: 4px;
    resize:vertical;
}

select{
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    font: normal normal normal 16px Roboto;
    letter-spacing: 0px;
    color: #42525f;
    background-color: transparent;
    font: normal normal bold 15px/25px Montserrat;
} 

.address-content {
    padding-left: 100px;
    padding-right: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
    align-items: left;
    border: 0px solid green;
    padding-top: 00px;
    font: normal normal 15px/25px Montserrat;
   
}

.row-citystate {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    align-items: center;
    border: 0px solid green;
    padding-top: 00px;
    
}

.input1 {
    width: 100%;
    padding:13px;
    border:1px solid black;
    resize:vertical;
    line-height:80%;
    margin-block-start: -100px;
}


.buttonParent{
    display: flex;
    margin-bottom: 10px;
    justify-content: space-between;
    margin-top: 20px;
    padding-left: 450px;
    align-items: right;
}

.button{
    font-size: 20px;
    font-family: Roboto;
    letter-spacing: 0px;
    background-color:silver;
    opacity: 1;
    background: transparent;
    border: none;
    font-weight: 400;
    min-width: 150px;
    padding: 7px 7px;
    border: 1px solid#707070;
    cursor: pointer;
    margin-left: 100px;
    margin-right: 10px;
}

.submitButton,.resetButton{
    text-decoration: none;
    text-align: center;
    margin-block-end: 10px;
    background-color: silver;
}

.submitButton:hover{
    background-color:green ;
    color : white;
}

.resetButton:hover{
    background-color: blue;
    color : white;
}

.cancelButton:hover{
    background-color:red ;
    color : white;
}

.cancelButton{
    text-decoration: none;
    text-align: center;
    margin-block-end: 200px;
    background-color: silver;
    color: black;
} 

error-output{
    margin-left: 10px;
    font-size: 12px;
    font-style: italic;
    color: red;
}

@media only screen and (max-width: 960px){
    .cancelButton{
        margin-left: 0px;
    }
    .form{
        width: 100%;
        padding: 44px 20px 
    }
    .button{
        margin-left: 80px;
        margin-right: 20px;;
    }

    .address-content {
        padding-left: 100px;
        padding-right: 100px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-bottom: 10px;
        align-items: left;
        border: 0px solid green;
        padding-top: 00px;
    }

    .buttonParent{
        display: flex;
        margin-bottom: 10px;
        justify-content: space-between;
        margin-top: 20px;
        padding-left: 250px;
        align-items: right;
    }
}

@media only screen and (max-width: 550px){
    .cancelButton{
        margin-left: 0px;
    }
    .form{
        width: 100%;
        padding: 44px 20px 
    }
    .button{
        margin-left: 80px;
        margin-right: 20px;;
    }

    .address-content {
        padding-left: 100px;
        padding-right: 100px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-bottom: 10px;
        align-items: left;
        border: 0px solid green;
        padding-top: 00px;
    }

    .button{
        font-size: 20px;
        font-family: Roboto;
        letter-spacing: 0px;
        background-color:silver;
        opacity: 1;
        background: transparent;
        border: none;
        font-weight: 400;
        min-width: 100px;
        padding: 7px 7px;
        border: 1px solid#707070;
        cursor: pointer;
        margin-left: 10px;
        margin-right: 10px;
    }

    .buttonParent{
        display: flex;
        margin-bottom: 10px;
        justify-content: space-between;
        margin-top: 20px;
        padding-left: 50px;
        align-items: right;
    }
}